app/static/gen/*
*.pyc
__pycache__
logs/*.log
config/development.cfg
config/local.cfg
venv
.webassets-cache/
*.swo
*.swp

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
