<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
<body>

<h1>Hunt Club Testing</h1>


<div>
	<div class = 'pane'>
	<form action="{{ url_for('newUser')}}" method = 'post'>

	<dl>
		<dt>Name:</dt>
			<dd><input type ='text' size='30' name='name'></dd>
		<dt>Password:</dt>
			<dd><input type = 'password' size='30' name = 'password'> </textarea></dd>



	</dl>


	<input type='submit' value='Create New User'>

	</form>
	</div>

</div>

</body>

</html>
